{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="container">
<div class="row">
    <div class="col-6 offset-3">
    <h1 class="text-center my-3">Register</h1>
    {% if error %}
        <p class="text-danger">Registration error: {{ error }}</p>
    {% endif %}
    <form action="{% url 'django_practice:register' %}" method="post">
        {% csrf_token %}

        <div class="mb-3">
        <label for="username">Username:</label>
        <input class="form-control" id="username" type="text" name="username" value="{{ username }}" maxlength="150" required>
        </div>

        <div class="mb-3">
        <label for="first_name">First Name:</label>
        <input class="form-control" id="first_name" type="text" name="first_name" value="{{ first_name }}" maxlength="30" required>
        </div>

        <div class="mb-3">
        <label for="last_name">Last Name:</label>
        <input class="form-control" id="last_name" type="text" name="last_name" value="{{ last_name }}" maxlength="30" required>
        </div>

        <div class="mb-3">
        <label for="email">Email:</label>
        <input class="form-control" id="email" type="email" name="email" value="{{ email }}" required>
        </div>

        <div class="mb-3">
        <label for="password">Password:</label>
        <input class="form-control" id="password" type="password" name="password" required>
        </div>

        <div class="mb-3">
        <label for="password2">Re-enter Password:</label>
        <input class="form-control" id="password2" type="password" name="password2" required>
        </div>

        <div class="text-center">
        <input class="btn btn-success" type="submit" value="Register">
        </div>

    </form>
    </div>
</div>
</div>
{% endblock %}